body {
	background-color: black;
	font-family: Arial;
	color: white;
}

#gameCanvas {
	width: 640px;
	height: 480px;
	position: absolute;
	top: 65%;
	left: 50%;
	margin-left: -400px;
	margin-top: -240px;
}

h1 { text-align: center; }

#selectButtons { left: 50%; text-align: center; }

.controlButtons {
	margin-left: 20px;
	margin-right: 20px;
	border: 0px solid;
	border-radius: 25px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	background-color: rgb(191,191,191);
	padding: 8.5px 17px;
	text-decoration:none;
	color: black;
	font-size: 13px;
}

.controlButtons:hover {
	background-color: rgb(100,100,100);
	cursor: pointer;
	cursor: hand;
}

.controlButtons:active { position: relative; top: 1px; }

#stats { position: absolute; bottom:0; left: 0 }

#infoDisplay {
	text-align: center;
	margin-top: 50px;
}

#timeDisplay {
	width: 100px;
	border-radius: 25px;
	position: absolute;
	left: 20%;
	background-color: #A30508;
}

#coinDisplay {
	width: 100px;
	border-radius: 25px;
	position: absolute;
	right: 20%;
	background-color: #207CE6;
}

#boostModeDisplay {
	width: 200px;
	border-radius: 25px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	background-color: #119C2D;
}

#pauseDisplay {
	position: absolute;
	text-align: center;
	z-index: 1000;
	left: 50%;
	top: 50%;
	color: white;
	width: 500px;
	margin-left: -250px;
	font-size: 64px;
}